
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


label {
    display:block;
    font: 1rem ' , san-serif;
}

input,
label {
    margin: 0.4rem 0;
}


*col{
    box-sizing: border-box;
}

.main-nav{
    position: static;
    position: -webkit-sticky;
    top:0;
}
.backgroud{
    width: 100%;
    height: 100;
    background-image: url("../img/garena-free-fire-live-gaming-qzmezptdskwnj9cr.webp");
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: cover;
}


